<h3>Dear <%= @order.name.capitalize %></h3>

<p>Thank you for your recent order from The Pragmatic Store.</p>

<p>
	You ordered the following items:<br>

	<%= render @order.line_items %><br>

	We'll send you a seperate e-mail when your order ships.
</p>
